/* Desktop Screen */

html {
  font-size: 10px;
}

body {
  height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
  background: linear-gradient(47.77deg, #05070F 27.82%, #122837 56.13%, #567582 100%);
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(3, auto);
  grid-gap: 10rem;
}

/* Hide */

#closedMenu {
  display: none;
}

/* Info */

#mainLogo  {
  justify-self: center;
  width: 20rem;
}

h1 {
  font-family: interstate, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3.2rem;
  color: #FFFFFF;
}

.container a {
  text-decoration: none;
  justify-self: center;
  font-family: montserrat, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2.2rem;
  color: #FFFFFF;
}

/* Enter Site */

#enterLine {
  width: 9rem;
  height: .2rem;
  margin: auto;
  margin-top: -4rem;
  transform: rotate(90deg);
  background: linear-gradient(270deg, #154766 0%, #1A8BA4 52.49%, #6AEBF7 100%);
}

/* Menu Overlay (background) */
.overlay {
   height: 0;
   width: 100%;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   background-color: #122837;
   overflow-x: hidden; /* Disable horizontal scroll */
   transition: 0.3s;
}

/* Overlay Content */
.overlay-content {
   position: relative;
   top: 25rem;
   width: 100%;
   text-align: center;
   margin-top: 1rem;
  }

/* Navigation Links */
.overlay a {
  font-family: interstate, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 4.8rem;
  color: #FFFFFF;
  text-decoration: none;
  padding: .2rem;
  margin-bottom: 5rem;
  display: block; /* Display block instead of inline */
  transition: 0.2s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */

.overlay-content a {
  width: 20%;
  margin: auto;
  margin-bottom: 5rem;
}

.overlay-content a:hover {
   border-bottom: solid #567582;
  padding-bottom: 2rem;
}


.overlay-content a:focus, .overlay-content a:active, #active {
  border-bottom: solid #6AEBF7;
  padding-bottom: 2rem;
}

/* Position the close button (top right corner) */
.overlay .closeMenu {
 position: absolute;
 top: 3rem;
 right: 5rem;
 max-width: 5rem;
}

.overlay #overlayContact {
  width: 20rem;
  margin: auto;
  margin-top: 10rem;
  padding: 2rem;
  font-size: 3.2rem;
  border: thin solid #FFFFFF;
  border-radius: 100rem;
}

.overlay #overlayContact:hover {
  color: #567582;
  border: thin solid #567582;
}


/* Tablet Screen */

@media screen and (max-width: 800px) {
  html {
    font-size: 9px;
  }
}

/* Mobile Screen */

@media screen and (max-width: 600px) {
  html {
    font-size: 7px;
    min-width: 350px;
  }

  #mainLogo {
    margin-top: 4rem;
  }

  #enterLine {
    width: 9rem;
    height: .2rem;
    margin: 0 auto;
    margin-top: -4rem;
    bottom: 0;
  }

  .container > * {
    grid-column: span 3;
    text-align: center;
  }

  .container > p {
    display: none;
  }

  #closedMenu {
    position: absolute;
    display: block;
    width: 10%;
    right: 4rem;
    top: 3rem;
  }

  /* overlay menu */
  .overlay-content a {
    font-size: 3.2rem;
    width: 30%;
    margin: auto;
    margin-bottom: 5rem;
  }

  .overlay #overlayContact {
    font-size: 2.4rem;
  }
}
