/* Desktop Screen */

html {
  font-size: 10px;
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  background: linear-gradient(47.77deg, #05070F 27.82%, #122837 56.13%, #567582 100%);
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Home  */

.homeContainer {
  position: absolute;
  margin: 0 5%;
  margin-bottom: 10rem;
  width: 90%;
  bottom: 0;
  display: grid;
  justify-items: center;
  text-align: center;
  grid-template-rows: repeat(3, auto);
  grid-gap: 10rem;
}

#logo  {
  width: 20rem;
}

#navTitle {
  font-family: interstate, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3.2rem;
  color: #FFFFFF;
  margin-bottom: 4rem;
}

p {
  text-decoration: none;
  font-family: montserrat, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 2.2rem;
  color: #FFFFFF;
  letter-spacing: 1;
}

#navBody {
  cursor: pointer;
  padding-bottom: .7rem;
  border-bottom: solid thin #567582;
}

#navBody:hover {
  padding-bottom: .7rem;
  border-bottom: solid thin #6AEBF7;
  transition: .3s ease;
}

/* Screens */

@media screen and (max-width: 950px) {
  html {
    font-size: 8px;
  }


}

/* Mobile Screen */

@media screen and (max-width: 600px) {
  html {
    font-size: 7px;
  }
