/* Typography */

html {
  font-size: 10px;
  box-sizing: border-box;
  background: linear-gradient(173.81deg, #05070F 0%, #122837 48.62%, #567582 100%);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  color: #636363;
}

header {
  font-family: interstate, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1.6rem;
  text-align: center;
  margin: 20rem 0;
  color: #000000;
}

h1 {
  font-family: interstate, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.4rem;
  text-align: center;
  color: #000000;
}

.border h1 {
  color: #FFFFFF;
  font-size: 2rem;
}

h2 {
  font-family: interstate, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3.6rem;
  color: #000000;
  margin-top: 5rem;
}

p {
  letter-spacing: .5;
  line-height: 140%;
  padding-top: 3rem;
  font-weight: 300;
}

strong {
  font-weight: 500;
}

quote {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 300;
  line-height: 3.1rem;
  font-size: 1.8rem;
}

/* Images */

img {
  max-width: 100%;
  height: auto;
  margin: 3.5rem 0rem;
}

/* Navigation Bar */


#backBar {
  position: absolute;
  width: 104px;
  height: 2px;
  left: 5%;
  top: 40px;
  background: linear-gradient(270deg, #154766 0%, #1A8BA4 52.49%, #6AEBF7 100%);
}

#return {
  position: absolute;
  left: 14%;
  top: 30px;
}

#name {
  position: absolute;
  left: -4%;
  top: 160px;
  transform: rotate(-90deg);
}

#mobileMenu {
  display: none;
}

/* Case Study */

.casestudy {
  background: #FFFFFF;
  margin: 5% 5%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.6);
}

.centerGrid {
  grid-column: 2/-2;
}

.fullGrid {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

#blueLine {
  width: 148px;
  height: 0px;
  margin: auto;
  margin-top: 1.8rem;
  border: 1px solid #1A8BA4;
}

/* Project Name */

#title {
  margin-top: 24rem;
  margin-bottom: 5rem;
}

/* Hero */

.projectDetails {
  display: grid;
  grid-template-areas:
  "client role date"
  "client role date";
}

.client {
  grid-area: client;
}

.role {
  grid-area: role;
}

.date {
  grid-area: date;
}

/* Competitive Analysis & User Research */

.logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10rem;
  align-items: center;
  justify-content: center;
}

/* User Personas */

.goals {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-row-gap: 1rem;
  align-items: center;
}

.listNumber {
  font-size: 3.6rem;
  padding-right: 2rem;
}

/* Innovation */

#innovationGray {
  background-color: #DEDEDE;
  padding-bottom: 3.5rem;
  margin-top: 6rem;
}

.innovationContent {
  grid-column: 2/-2;
}

.features {
  display: grid;
  grid-template-areas:
  "image1 image2"
  "title1 title2"
  "body1 body2";
  grid-column-gap: 5.5rem;
  text-align: left;
}

.featureIcon {
  width: 50%;
  justify-self: center;
}

#smartOrgIcon {
  grid-area: image1;
}

#unsortedIcon {
  grid-area: image2;
}

#smartTitle {
  grid-area: title1;
  font-weight: 500;
}

#unsortedTitle {
  grid-area: title2;
  font-weight: 500;
}

#smartBody {
  grid-area: body1;
}

#unsortedBody {
  grid-area: body2;
}

/* design */
.designSmall {
  grid-column: 2/-2;
}

.designBig {
  grid-column: 1/4;
}

/* Wireframes and Usability Test */

.paperSketches {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.5rem;
}

.wireframes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 3.5rem;
}

.paperSketches > img, .wireframes > img {
  margin-top: 3.5rem;
  margin-bottom: 0;
}

/* Branding */

.brandingDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 3.5rem;
  padding: 0 3.5rem;
}

.brandingDetails > img {
  margin-bottom: 0rem;
}

#brandingLogo {
  display: block;
  width: 60%;
  margin: auto;
  margin-top: 3.5rem;
}

/* Hi-Fi Mockup and Preference Tests */

.prefTest {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-column-gap: 3.5rem;
  justify-items: center;
  padding: 0 3.5rem;
}

.prefTest > img {
  margin-bottom: 0;
}

.prefIcons {
  width: 30%;
}

/* Next Project */

#nextProject {
  background: linear-gradient(100.24deg, #05070F 0%, #122837 54.23%, #567582 111.53%);
  padding: 6rem;
  margin-top: 7rem;
}

.nextprojectContent {
  grid-column: 2/-2;
}

.nextprojectContent h1 {
  text-align: left;
  color: #FFFFFF;
}

/* Buttons */

.button {
  display: block;
}

#protoButton {
  width: 20%;
  margin: auto;
  margin-top: 3rem;
}

#userButton {
  width: 25%;
  float: right;
}

#wireButton {
  width: 30%;
  margin-top: 3rem;
  float: right;
}

#caseButton {
  width: 25%;
  margin-top: 3rem;
  float: left;
}

/* Media Screen for Tablet  */

/* Media Screens */

@media screen and (max-width: 950px) {

  html {
    font-size: 8px;
  }

  .casestudy {
    margin: 4% 4%;
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
  }

  .fullGrid {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
  }

  /* Navigation Menu */

  #mobileMenu {
    display: block;
    position: absolute;
    width: 5rem;
    right: 7%;
    top: 7%;
  }

  .border, #blueLine {
    display: none;
  }

  /* Competitive Analysis & User Research */
  .logos {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 9rem;
  }

  /* Images */

  .featureIcon {
    width: 50%;
  }

  .prefIcons {
    width: 40%;
  }

  /* Buttons */
  #protoButton {
    width: 20%;
    margin: auto;
    margin-top: 3rem;
  }

  #userButton {
    width: 25%;
    float: right;
  }

  #wireButton {
    width: 30%;
    margin-top: 3rem;
    float: right;
  }

  #caseButton {
    width: 25%;
    margin-top: 3rem;
    float: left;
  }
}

/* Media Screen for Mobile */

@media screen and (max-width: 400px) {

  html {
    font-size: 7px;
  }

  .casestudy {
    margin: 2% 2%;
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
  }

  .fullGrid {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
  }

  /* Navigation Menu */

  #mobileMenu {
    position: absolute;
    display: block;
    width: 10%;
    height: auto;
    right: 5rem;
    top: 4rem;
  }

  .border, #blueLine {
    display: none;
  }

  /* Competitive Analysis & User Research */
  .logos {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5rem;
  }

  /* Images */

  .featureIcon {
    width: 70%;
  }
  img.prefIcons {
    width: 50%;
  }

  /* Buttons */
  #protoButton {
    width: 30%;
    margin: auto;
    margin-top: 3rem;
  }

  #userButton {
    width: 45%;
    float: right;
  }

  #wireButton {
    width: 50%;
    margin-top: 3rem;
    float: right;
  }

  #caseButton {
    width: 45%;
    margin-top: 3rem;
    float: left;
  }
}
