/* Desktop Screen */

html {
  font-size: 10px;
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  background: linear-gradient(47.77deg, #05070F 27.82%, #122837 56.13%, #567582 100%);
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Typography  */

h1 {
  font-family: interstate, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3.2rem;
  color: #FFFFFF;
}

p {
  cursor: pointer;
  text-decoration: none;
  font-family: montserrat, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 2.2rem;
  color: #FFFFFF;
  letter-spacing: 1;
}

/* Navigation */

/* Navigation Top */

nav.navTop {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 4rem 0;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-auto-flow: column;
  /* background: rgba(255, 255, 255, 0.1); */
}

#navLogo {
  grid-column: 2/3;
  width: 6.6rem;
  justify-self: center;
}

#closedMenu {
  grid-column: 3/4;
  height: 2.3rem;
  justify-self: end;
  margin-right: 5rem;
  border-radius: 0;
}

/* Navigation Sides */

nav.navSides {
  position: fixed;
  width: 100%;
  top: 42%;
  left: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.navSides a {
  text-decoration: none;
}

#workButton h1 {
  font-size: 2.4rem;
  padding: 5rem 2rem;
  margin-left: 2rem;
  /* Active */
  border-left: solid thin #6AEBF7;
  /* Inactive */
  /* border-left: solid thin #567582;  */
}

#workButton h1:hover {
  border-left: solid thin #6AEBF7;
}

#aboutButton {
  justify-self: end;
}

#aboutButton h1 {
  font-size: 2.4rem;
  padding: 5rem 2rem;
  margin-right: 2rem;
  /* Active */
  /* border-right: solid thin #6AEBF7; */
  /* Inactive */
  border-right: solid thin #567582;
}

#aboutButton h1:hover {
  border-right: solid thin #6AEBF7;
}

/* Work Screen */

.workContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(47.77deg, #05070F 27.82%, #122837 56.13%, #567582 100%);
  display: grid;
  grid-template-rows: repeat(3,1fr);
}

/* Typography */

.workContainer h1 {
  font-family: interstate, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.4rem;
  color: #FFFFFF;
}

.workContainer p {
  font-family: montserrat, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.8rem;
  color: #FFFFFF;
}

.workContainer .casestudyScroller > p {
  font-size: 2.4rem;
}

.workContainer img {
  max-width: 100%;
}


/* Case Study Section and Side Menus */

.casestudies {
  grid-row: 2/3;
  padding-top: 10rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr auto;
  grid-gap: 2%;
  grid-row-gap: 0rem;
  align-items: center;
}

/* Case Study */

.casestudy {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-gap: 2.5rem;
}

.casestudyImage {
  grid-column: span 2;
}

.casestudy a {
  text-decoration: none;
  justify-self: end;
}

#casestudyButton p {
  padding-bottom: .7rem;
  border-bottom: solid thin #567582;
}

#casestudyButton p:hover {
  padding-bottom: .7rem;
  border-bottom: solid thin #6AEBF7;
}

/* Case Study Scroller */

.casestudyScroller {
  display: none;
  /* display: grid; */
  /* position: fixed; */
  top: 30%;
  grid-template-rows: auto;
  justify-items: center;
  grid-row-gap: 4rem;
}

.mobileScroll {
  display: none;
  justify-self: center;
}

/* Buttons */

#scrollUp, #scrollDown {
  max-width: 6rem;
  min-width: 4rem;
}

#mobile_scroll_left {
  grid-column: 2/3;
  max-width: 6rem;
  min-width: 4rem;
  transform: rotate(-90deg);
}

#mobile_scroll_right {
  grid-row: 1/2;
  grid-column: 4/5;
  max-width: 6rem;
  min-width: 4rem;
  transform: rotate(90deg);
  /* justify-self: end; */
}

/* Hide */

.mobileContainer {
  display: none;
}

/* Menu Overlay (background) */
.overlay {
 height: 0;
 width: 100%;
 position: fixed;
 z-index: 1;
 left: 0;
 top: 0;
 background-color: #122837;
 overflow-x: hidden; /* Disable horizontal scroll */
 transition: 0.3s;
}

/* Overlay Content */
.overlay-content {
   position: relative;
   top: 25rem;
   width: 100%;
   text-align: center;
   margin-top: 1rem;
  }

/* Navigation Links */
.overlay a {
  font-family: interstate, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 4.8rem;
  color: #FFFFFF;
  text-decoration: none;
  padding: .2rem;
  margin-bottom: 5rem;
  display: block; /* Display block instead of inline */
  transition: 0.2s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */

.overlay-content a {
  width: 30%;
  margin: auto;
  margin-bottom: 5rem;
}

.overlay-content h1, .overlay-content p {
  text-decoration: none;
  text-align: center;
  font-family: montserrat, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 2.4rem;
  color: #FFFFFF;
  letter-spacing: 1;
  line-height: 2;
}

.overlay-content a:hover {
  border-bottom: solid #567582;
  padding-bottom: 2rem;
}


.overlay-content a:focus, .overlay-content a:active, .overlay-content #active {
  border-bottom: solid #6AEBF7;
  padding-bottom: 2rem;
}

/* Position the close button (top right corner) */
.overlay .closeMenu {
 position: absolute;
 top: 3rem;
 right: 5rem;
}

/* Contact  */

#contact {
  margin: auto;
  margin-top: 10rem;
  padding-bottom: 0rem;
  border-bottom: solid thin #567582;
  cursor:pointer;
}

#contact > *  {
  text-decoration: none;
  font-family: montserrat, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 2.4rem;
  letter-spacing: 1;
  color: #567582;
  transition: .2s;

}

#contact p {
  color: #FFFFFF;
}

#contact:hover {
  padding-bottom: 0;
  border-bottom: solid thin  #6AEBF7;
}

#designTag {
  margin-top: 5rem;
  font-size: 1.4rem;
}

/* Screens */

/* Tablet Screen */

@media screen and (max-width: 950px) {
  html {
    font-size: 8px;
    background: linear-gradient(47.77deg, #05070F 27.82%, #122837 56.13%, #567582 100%);
  }

  /* General */

  body, nav, .workContainer {
    min-width: 300px;
  }

  .workContainer {
    height: 100%;
  }

  /* Menu Button */

  #closedMenu {
    margin-right: 3rem;
  }

  /* Navigation Sides */

  nav.navSides {
    display: none;
  }

  /* Case Study */

  .casestudies {
    grid-template-columns: 1fr 8fr 1fr;
  }

  .casestudyScroller {
    display: none;
  }

  /* Menu Overlay */
  .overlay-content a {
    width: 40%;
  }
}

/* Mobile Screen */

@media screen and (max-width: 600px) {
  html {
    font-size: 7px;
  }

  /* Hide */

  .casestudyScroller, nav.navSides {
    display: none;
  }

  /* Case Studies; */

  .casestudies {
    grid-template-columns: 1fr 95% 1fr;
  }

  /* Work */

  .casestudies {
    grid-row-gap: 8rem;
    width: 80%;
    margin: 0 auto;
  }

  /* overlay menu */
  .overlay-content a {
    font-size: 4.2rem;
    width: 80%;
    margin: auto;
    margin-bottom: 5rem;
  }

  .overlay #overlayContact {
    font-size: 2.4rem;
  }

  .overlay .closeMenu {
    right: 3rem;
  }
}
