/* styling */
body, ul {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #636363;
}

header {
  font-family: interstate, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 20;
  text-align: center;
  margin: 140px 0px;
  color: #000000;
}

h1 {
  font-family: interstate, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  text-align: center;
  color: #000000;
}

h2 {
  font-family: interstate, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 36px;
  color: #000000;
}

p {
  letter-spacing: .5;
  line-height: 140%;
  padding: 0px;
  margin: 0px;
}

img {
  max-width: 100%;
  height: auto;
  margin: 35px 0px;
}

/* positioning */
body {
  background: linear-gradient(173.81deg, #05070F 0%, #122837 48.62%, #567582 100%);
}

/* Border */
.border h1 {
  color: #FFFFFF;
  font-size: 20px;
}

#backBar {
  position: absolute;
  width: 104px;
  height: 2px;
  left: 4.7%;
  top: 40px;
  background: linear-gradient(270deg, #154766 0%, #1A8BA4 52.49%, #6AEBF7 100%);
}

#return {
  position: absolute;
  left: 207px;
  top: 15px;
}

#name {
  position: absolute;
  left: -60px;
  top: 145px;
  transform: rotate(-90deg);
}

.casestudyContainer {
  background: #FFFFFF;
  margin: 5% 4%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  min-width: 500px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.6);
}

.casestudy {
  grid-column: 2/-2;
}

h2 {
  margin-top: 50px;
}

/* hero */
#blueLine {
  width: 148px;
  height: 0px;
  margin: auto;
  margin-top: 18px;
  border: 1px solid #1A8BA4;
}

#title {
  margin-top: 240px;
  margin-bottom: 50px;
}

.projectDetails {
  display: grid;
  grid-template-areas:
  "client role date"
  "client role date";
}

.client {
  grid-area: client;
}

.role {
  grid-area: role;
}

.date {
  grid-area: date;
}

/* discovery */
/* competitive analysis and user research */

.logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 100px;
  align-items: center;
  justify-content: center;
}

/* User Personas */
.goals {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-row-gap: 10px;
  align-items: center;
  margin: 0px 0px;
}

.listNumber {
  font-size: 36px;
  margin: 0px 0px;
  padding-right: 20px;
}

/* Innovation */
.innovation {
  grid-column: 1/4;
  background-color: #DEDEDE;
  padding-bottom: 35px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-top: 60px;
}

.innovationContent {
  grid-column: 2/-2
}

.features {
  display: grid;
  grid-template-areas:
  "image1 image2"
  "title1 title2"
  "body1 body2";
  padding: 0px 55px;
  grid-column-gap: 55px;
  text-align: center;
}

.smartOrgIcon {
  grid-area: image1;
  width: 50%;
  justify-self: center;
}

.unsortedIcon {
  grid-area: image2;
  width: 50%;
  justify-self: center;
}

#smartTitle {
  grid-area: title1;
  font-weight: 500;
}

#unsortedTitle {
  grid-area: title2;
  font-weight: 500;
}

#smartBody {
  grid-area: body1;
}

#unsortedBody {
  grid-area: body2;
}
/* Design */
/* Wireframes and Usability Test */
.paperSketches {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
}

.wireframes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 35px;
}

.paperSketches > img, .wireframes > img {
  margin-top: 35px;
  margin-bottom: 0px;
}

/* Branding */

.brandingDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 35px;
  padding: 0px 35px;
}

.brandingDetails > img {
  margin-bottom: 0px;
}

#brandingLogo {
  display: block;
  width: 60%;
  margin: auto;
  margin-top: 35px;
}

/* Hi-Fi Mockup and Preference Tests */
.prefTest {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-column-gap: 35px;
  justify-items: center;
  padding: 0px 35px;
}

.prefTest > img {
  margin-bottom: 0px;
}

.prefIcons {
  width: 30%;
}

quote {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 300;
  line-height: 31px;
  font-size: 18px;

}

/* design */

.design2 {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.brandingSmall {
  grid-column: 2/-2;
}

.brandingBig {
  grid-column: 1/4;
}

/* Buttons */

.button {
  display: block;
  max-width: 20%;
}

#protoButton {
  margin: auto;
}

#userButton {
  max-width: 25%;
  float: right;
}

#wireButton {
  margin-top: 35px;
  max-width: 30%;
  float: right;
}

/* Next Project */

.nextProject {
  grid-column: 1/4;
  background: linear-gradient(100.24deg, #05070F 0%, #122837 54.23%, #567582 111.53%);
  padding: 60px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr;
  margin-top: 70px;
}

.nextprojectContent {
  grid-column: 2/-2;
}

.nextprojectContent h1 {
  text-align: left;
  color: #FFFFFF;
}

#caseButton {
  max-width: 25%;
  float: left;
  margin-top: 0px;
}
